TextThePeople/TextThePeople/bin/TextThePeople.dll
TextThePeople/TextThePeople/bin/TextThePeople.pdb
TextThePeople/TextThePeople/obj/Debug/TextThePeople.csproj.FileListAbsolute.txt
TextThePeople/TextThePeople/obj/Debug/TextThePeople.dll
TextThePeople/TextThePeople/obj/Debug/TextThePeople.pdb
TextThePeople/TextThePeople/obj/Debug/TextThePeople.csprojResolveAssemblyReference.cache
TextThePeople/TextThePeople.v11.suo
