@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured" style="background-color: #A8A8A8;">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Public Housing Authority Message Center</h1><br />
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p style="font-size: 8pt;">
                **Standard data fees and text messageing rates may apply based on your plan with your mobile phone carrier.
            </p>
        </div>
    </section>
}

@Html.Partial("~/Views/Shared/_LoginForm.cshtml")